<template name="answer">
	<div class="Answer">
			<ul >
				<li style="float:left;"><a id="js-popular" href="#">MOST POPULAR</a></li>
  				<li style="float:left;"><a id="js-recent" href="#">MOST RECENT</a></li>
  				<li style="float:left;"><a id="js-urgent" href="#">MOST URGENT</a></li>
  				<li style="float:left;"><a id="js-unanswered" href="#">UNANSWERED QUESTIONS</a></li>
  				<li><input type="text" id="js-search" placeholder=" Search..." style="border-radius: 40px;float:right" /></li>
  			</ul>
  						
		</div>
</template>