<template name="ask">
	<div class="container">
		 <div class="col-sm-12">
            <h1>Write your problem and we will fined answer for you</h1>
        </div>
	<form id="js-unesiPitanje">
			<input type="text" id="js-question">
			<select id="js-urgency">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>
			<input type="text" id="js-location" value="{{home_grad}}, {{home_drzava}}">

			<input type="submit" value="ASK" />
		</form>
		<div id="js-poruka"></div>
	</div>
</template>