<template name="home" style="padding-left:600px;">
	<div class="content">
		 <div id="header-wrapper">
			<div id="header">
				<div class="logo">
					<a href="#"><div class="class">BelgradeRefugees</div></a>
				</div>
				<div style="font:14px;color:##767676">
					 <ul style="float:right;">
  						<li><a href="#">HOME</a></li>
  						<li><a href="/about">ABOUT US</a></li>
  						<li><a href="/contact">CONTACT US</a></li>
					</ul> 
				</div>
		    </div>
		    <div class="questions">
		    	 <h1 class="questions">QUESTIONS</h1>
		    	</div>
		    	<div class="questionText">
		    		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		    	</div>
		</div>
		<div class="Answer">
			<ul >
				<li style="float:left;"><a id="js-popular" href="#">MOST POPULAR</a></li>
  				<li style="float:left;"><a id="js-recent" href="#">MOST RECENT</a></li>
  				<li style="float:left;"><a id="js-urgent" href="#">MOST URGENT</a></li>
  				<li style="float:left;"><a id="js-unanswered" href="#">UNANSWERED QUESTIONS</a></li>
  				<li><input type="text" id="js-search" placeholder=" Search..." style="border-radius: 40px;float:right" /></li>
  			</ul>
  			
			
		</div>

		<div class="prikaz">
		<br />
		<br />
		<br />

			{{#each home_pitanja}}
			<div class="innerPrikaz">"
				<a href="/question/{{_id}}" style="color: #767676;text-decoration: none;">{{question}}</a> {{#if home_jeOdgovoreno}}<img src="assets/answered-question.png" style="float:right">{{else}}<img src="assets/not-answered-yet.png" style="float:right">{{/if}}<br />
			</div>
			{{/each}}

		</div>
		<form id="js-unesiPitanje">
			<input type="text" id="js-question">
			<select id="js-urgency">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>
			<input type="text" id="js-location">

			<input type="submit" value="ASK" />
		</form>
		
	</div>
</template>