<template name="home">
		 <div id="header-wrapper">
			<div id="header">
				<div class="logo">
					<h1><a href="#">usvoji<span>me</span></a></h1>
				</div>
				{{> loginButtons}}
				<div class="menu">
					<ul>
						<li class="active"><a href="#">Po&#269;etna</a></li>
						<li><a href="#">Va&#353; profil</a></li>
						<li><a href="#">O nama</a></li>
					</ul>
				</div>
		    </div>
		</div>
	
		<div id="main">
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
				<div class="desc">Dodajte opis </div> 
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="img">
				<a href="#"></a>
					<img src="https://i.kinja-img.com/gawker-media/image/upload/xqkbwkexcl7udc5va7pn.jpg">
					<div class="desc">Dodajte opis </div>
			</div>
			<div class="filter"></div>
		</div>
</template>