<template name="question">
	
	{{question}}
	<br />
	{{urgency}}
	<br />
	{{location}}
	<br />
	<ul>
	{{#each pitanje_komentari}}
		<li>{{from.name}} - {{content}} ({{pitanje_votes}}) {{#if pitanje_canVote}}<a href="#" id="js-upvote">+</a><a href="#" id="js-downvote">-</a>{{/if}}</li><br />
	{{/each}}
	</ul>
	<div id="js-odgovoriDiv">
		<h3>Answer</h3>
		<form id="js-odgovori">
			Name: <input type="text" id="js-ime" />
			<br />
			<br>
			Answer: <textarea id="js-odgovor"></textarea><br />
			<br />
			<input type="submit" value="Answer!" class="button"/>
		</form>
	</div>

</template>