body{
	background-color: #FFFFFF;
	font-family: "helvetica";
}

.class
{

	padding-top: 30px;
	padding-left: 50px;
	color:#5408FF;
}

.class2
{
	color:#767676;
	padding-left: 100px;
}
.slika
{
	padding-left: 230px;
	padding-top:20px;
	}
.footer
{
	width: 1300px;
	height: 500px;
}	
.innerPrikaz
{
	
	padding-top: 20px;
	height: 45px;
	box-shadow: 5px 5px 10px #888888;
	padding-bottom: 40px;
	
}
.content
{
	width: 1200px;
	height: 2050px;
	padding-left: 60px;
}
.questions
{
	padding-left: 225px;
	padding-top: 30px;
	color:#5408FF;
}
.questionText
{
	color:#767676;
	width: 900px;
	padding-left: 150px;
}
.Answer
{
	display: inline;
}
.search
{
	
	
	width: 400px;
	height: 40px;
	color: #767676;
	border: 1px;
	border-style: inset;
	border-radius: 40px;
	display: inline;
}
.foo {
  padding-left: -1000px;
  width: 1330px;
  height: 300px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #5408FF;
  color: #FFFFFf;
	
}
ul
{
	font-family: "helvetica";
	font: 14px;
	color:#767676;
}
li {
	font-family: "helvetica";
	color:#767676;
    display: inline;
    margin: 0;
    
    font: 14px;
} 

li a {
	font: 14px;
    display: block;
    color:#767676;
    text-align: center;
    display: inline;
    padding-left: 20px;
    text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #5408FF;
    text-decoration: line-through;
}

#pop: {
	height: 280px;
	width: 470px;
	position: fixed;
	bottom: 50%;
	right:50%;
	border: 2px solid;
	padding:10px;
	background:#FFFFFF;
	border-radius: 9px;
}
#close
{
	right: 5;
	top:5;
	float: right;
}